*{
    margin: 0;
    padding: 0;
}
html{
  scroll-behavior: smooth;
}
nav {
  position: fixed;      
  top: 0;
  left: 0;
  width: 100%;           
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 231, 11);
  height: 80px;          
  z-index: 500;         
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

#cake,#sweet,#burger{
  scroll-margin-top: 100px;   }


nav ul {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  width: 35%; 
}

a{
    
    background:none;
    margin-left: 20px;
    height: fit-content;
    width: fit-content;
    text-decoration: none;
    padding: 5px;
    border-radius: 10px;
    transition-duration: 0.7s;
    color: rgb(0, 0, 0);
    font-size: large;
}
a:hover{
    background-color: rgb(0, 255, 166);
    transition: all 0.4s ease;
    color: rgb(0, 0, 0);
    font-size: x-large;
}

.h{
    color: blue;
}

.head{
     height: fit-content;
     width: fit-content;
     padding: 5px;
     color: #fff;
     background-color: rgb(255, 0, 0);
}

.full-img {
  width: 100%;
  height: 80vh;    
  object-fit: cover;
  display: block;
  margin-top: 2px;
}
.cake {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  background:linear-gradient(rgb(255, 135, 135),rgb(133, 255, 192));
}

.cake-card {
  width: 200px;
  text-align: center;
  background: #fff;
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0px 3px 10px rgba(83, 76, 76, 0.97);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cake-card:hover {
  transform: translateY(-8px);  
  box-shadow: 0px 8px 20px rgb(255, 145, 0);
}

.cake-card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.cake-card:hover img {
  transform: scale(1.06);  
}

.cake-name {
  margin-top: 8px;
  font-weight: bold;
  background: #ffe0e6;
  padding: 5px;
  border-radius: 6px;
  transition: background 0.4s ease;
}
.cake-price{
  font-size: larger;
  font-weight: 900;
  margin-top: 10px;
}

.cake-card:hover .cake-name {
  background: #0dff00; 
}


h2{
  text-align: center;
  font-size: 50px;
  margin-top: 20px;
  font-weight: bolder;
  margin-bottom: 20px;
  color: #0000ff;
}

.sweets{
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 20px;
  background: linear-gradient(rgb(137, 255, 247),rgb(244, 127, 127));
}

.sweet-card {
  width: 200px;
  text-align: center;
  background: #fff;
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0px 3px 10px rgba(83, 76, 76, 0.97);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.sweet-card img{
   width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.3s ease;
}
.sweet-name{
  text-align: center;
  font-weight: bold ;
  background-color: #0dff00;
  border-radius: 4px;
  padding: 4px;
}
.sweet-card:hover {
  transform: translateY(-8px);  
  box-shadow: 0px 8px 20px rgb(255, 0, 204);
}

.sweet-card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.sweet-card:hover img {
  transform: scale(1.06);  
}

.sweet-name {
  margin-top: 8px;
  font-weight: bold;
  background: #ffe0e6;
  padding: 5px;
  border-radius: 6px;
  transition: background 0.4s ease;
}
.sweet-price{
  font-size: larger;
  font-weight: 900;
  margin-top: 10px;
}

.sweet-card:hover .sweet-name {
  background: rgb(255, 105, 12); 
}

.but{
  height: 45px;
  width: 60%;
  padding: 7px;
  background-color: rgb(255, 200, 0);

}
.but:hover{
    height: 45px;
  width: 120px;
  border-radius: 10px;
  background-color: rgb(212, 0, 255);
  color: rgb(0, 0, 0);
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  transition: 0.3s ease;
  box-shadow: 0px 6px 14px rgb(255, 0, 221);
}
.snacks{
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 20px;
  background: linear-gradient(rgb(255, 46, 129),rgb(140, 255, 90));
}

.snack-card {
  width: 200px;
  text-align: center;
  background: #fff;
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0px 3px 10px rgba(83, 76, 76, 0.97);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.snack-card img{
   width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.3s ease;
}
.snack-name{
  text-align: center;
  font-weight: bold ;
  background-color: #0dff00;
  border-radius: 4px;
  padding: 4px;
}
.snack-card:hover {
  transform: translateY(-8px);  
  box-shadow: 0px 8px 20px rgb(130, 124, 248);
}

.snack-card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.snack-card:hover img {
  transform: scale(1.06);  
}

.snack-name {
  margin-top: 8px;
  font-weight: bold;
  background: #ffe0e6;
  padding: 5px;
  border-radius: 6px;
  transition: background 0.4s ease;
}
.snack-price{
  font-size: larger;
  font-weight: 900;
  margin-top: 10px;
}

.snack-card:hover .snack-name {
  background: rgb(0, 225, 255); 
}

.snabut{
  height: 45px;
  width: 60%;
  padding: 7px;
  background-color: rgb(255, 54, 54);

}
.snabut:hover{
    height: 45px;
  width: 120px;
  border-radius: 10px;
  background-color: rgb(80, 0, 199);
  color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  transition: 0.3s ease;
  box-shadow: 0px 6px 14px rgb(80, 0, 221);
}